.layout {
  @include flex-box(column, center, center);
  height: 100vh;

  .student-name-form {
    @include flex-box(column, center, center, 20px);
    width: 40vw;
    /* border: 1px solid grey;
    border-radius: 5px; */
    padding: 50px 150px 50px 150px;

    .student-name-form__text-input {
      width: 100%;
    }

    .student-name-form__submit-button {
      align-self: flex-end;
    }
  }
}
