.home-layout {
  @include flex-box(column, center, center);
  height: 100vh;

  .student-name-form {
    @include flex-box(column, center, center, 1.5rem);
    width: 40vw;
    padding: 6rem 6rem 6rem 6rem;

    .student-name-form__text-input {
      width: 100%;
    }

    .student-name-form__submit-button {
      align-self: flex-end;
    }
  }
}
